PyOpenGL_accelerateautopep8==1.5.4
backports.functools-lru-cache==1.6.1
cycler==0.10.0
gitdb2==2.0.6
GitPython==2.1.15
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.11.1
opencv-python==3.4.0.12
pycodestyle==2.6.0
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
scipy==1.2.3
six==1.15.0
smmap==3.0.4
smmap2==3.0.1
subprocess32==3.5.4
toml==0.10.2
